.noscript {

	display: table-cell;
	text-align: center;

	color: white;
	background-color: gray;

	width: 50%;

	margin: auto;
	padding: 12px;

	position: absolute;
	top: 32px;
	left: 0;
	right: 0;

	font-family: sans-serif;

	border-left: 8px solid red;

}

.noscript a {

	color: #FBAF5C;
	text-decoration: none;
}

.noscript a:hover {

	color: crimson;
}